/* general styling */
body {
    background-color: #500f27;
    color: #fff;
    font-family: Copperplate, Papyrus, fantasy;
}

/* end general styling */

/* header styling */
#navbarSupportedContent a:hover {
    color: #500f27 !important;
}

#header-nav {
    background-color: #d09f2e;
}

.navbar-brand>a {
    text-decoration: none;
    color: white;
}

.navbar-brand h2 {
    text-shadow: 1px 1px 1px #500f27;
    color: #500f27;
}

.navbar-deader button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #500f27
}

.navbar-header button.navbar-toggle {
    clear: both
}


#phoneNumber {
    color: #500f27;
    background-color: #d09f2e;
    border: 2px solid white;
    width: 100%;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}





