* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(41, 40, 40);
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.box {
    border: 5px solid black;
    margin-bottom: 30px;
    background-color: #bbb;
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    padding: 10px;
}

.content-name {
    border: 3px solid black;
    /* width: fit-content; */
    padding: 5px;
    font-weight: bold;
    float: right;
    position: relative;
    margin-right: -3px;
    margin-top: -3px;
    box-sizing: border-box;
}

.name1 {
    background-color: rgb(214, 162, 171);
    color: black;
}

.name2 {
    background-color: rgb(200, 2, 2);
    color: white;
}

.name3 {
    background-color: rgb(215, 215, 3);
    color: black;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }

    @media (min-width: 768px) and (max-width: 991px) {

        .col-md-6,.col-md-12 {
            float: left;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-12 {
        width: 100%;
    }

}